@{ Layout = null; }

<h2>Xác thực Email Hộp thư góp ý dành cho sinh viên Khoa Công Nghệ Thông Tin</h2>

<div class="alert-success">
    <strong>Chúc mừng !!!</strong>  @ViewBag.Message, @Html.ActionLink("Nhấn vào dây", "Login") để truy cập vào website Hộp Thư Góp Ý
</div>


