@{ Layout = null; }

<h2>Xác thực Email</h2>

<div class="alert-success">
    <strong>Chúc mừng !!!</strong>  @ViewBag.Message, @Html.ActionLink("Nhấn vào dây", "Login") để truy cập vào website
</div>


