
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="alert-danger">
    <strong>Cảnh báo : Tài khoản của bạn không có quyền truy cập vào trang này </strong>
</div>
